<main>
  <h2>General settings</h2>
  <div class="switch-container">
    <label class="switch-content">
      <span class="switch">
        <input
          type="checkbox"
          (click)="onSettingUpdate('darkMode', $event)"
          [checked]="globalSettings.darkMode"
          [ngClass]="{'hidden': !settingsLoaded}"
        />
        <span class="slider" [ngClass]="{'hidden': !settingsLoaded}"></span>
      </span>
      Enable dark mode
    </label>
  </div>
  <div class="switch-container">
    <label class="switch-content">
      <span class="switch">
        <input
          type="checkbox"
          (click)="onSettingUpdate('storeRequests', $event)"
          [checked]="globalSettings.storeRequests"
          [ngClass]="{'hidden': !settingsLoaded}"
        />
        <span class="slider" [ngClass]="{'hidden': !settingsLoaded}"></span>
      </span>
      Store requests to show them on the requests table
    </label>
  </div>
  <div class="switch-container" [ngClass]="{'disabled': !globalSettings.storeRequests}">
    <label class="switch-content">
      <span class="switch">
        <input
          type="checkbox"
          (click)="onSettingUpdate('countType', $event)"
          [checked]="globalSettings.countType"
          [ngClass]="{'hidden': !settingsLoaded}"
        /> 
        <span class="slider" [ngClass]="{'hidden': !settingsLoaded}"></span>
      </span>
      Only count requests with these types on extension icon:
    </label>
    <select
        [disabled]="!globalSettings.countType"
        (change)="onSettingUpdate('typeToCount', $event)"
        [value]="globalSettings.typeToCount"
      >
        <option
          *ngFor="let type of requestTypes"
          [value]="type"
          [selected]="globalSettings.typeToCount === type"
        >
          {{ type | capitalize }}
        </option>
    </select>
  </div>
  <div class="textarea-container" [ngClass]="{'disabled': !globalSettings.storeRequests}">
    <label>Ignore requests from the following domains (1 site per line, without commas):
      <textarea placeholder="https://www.example.com" [(ngModel)]="textareaValue"></textarea>
      <small class="hint">* You can add comments by adding a # at the beginning of the line</small>
    </label>
    <button class="btn confirm" (click)="saveIgnoreList()">Save ignore list</button>
  </div>

  <span id="appsBackupContainer">
    <button id="importBtn" class="btn primary" (click)="importAppsTrigger()">Import applications</button>
    <input type="file" id="appsImportInput" (change)="onImportApps($event)" accept="json" hidden>
    <button id="exportBtn" class="btn primary" (click)="exportApps()">Export applications</button>
  </span>
</main>
<app-toast></app-toast>