<main>
    <h1>Requests Externalizer v{{globalVersion}}</h1>
    <section>
        <p>This extension was made with <a href="https://angular.io/guide/what-is-angular">Angular</a> 15, and can be used to send requests or media 
            to any program outside the browser.</p>
        <p>For example, you can use it to send images directly to an image editor, or send a video stream to your video player.</p>
        <p>The source code of the extension is available at: </p>
        <a href="https://github.com/Dokkaltek/requests-externalizer.git">https://github.com/Dokkaltek/requests-externalizer.git</a>
    </section>
    <section>
        <h2>Privacy</h2>
        <p>All data is stored client-side and never leaves the browser, so we will never see any dubious information you may be leaking.</p>
        <p>This means that can feel reassured that your toilet schedule won't be sent to any third party business or any business at all 
            from this extension.</p>
    </section>
    <section>
        <h2>Permissions</h2>
        <p>The extension requires certain permissions to work correctly. Mainly the following:</p>
        <ul>
            <li><b>Read your browsing history</b> -> It's required to store the requests from background tabs so that 
                if they weren't active their requests can appear in the list of the popup.</li>
            <li><b>Communicate with third party applications</b> -> I mean... how do you expect us to send things to third party applications without this?</li>
        </ul>
    </section>

</main>
